body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
    width: 600px;
    margin: 60px auto auto auto;
}

@media (max-width:480px) {
    .app {
        width: 480px;
    }
}

.button-edit {
    color: white;
    background-color: green;
    border-radius: 20%;
    margin-right: 5px;
}

.button-delete {
    color: white;
    background-color: red;
    border-radius: 20%;
}

.form-add-cosmonaut {
    width: inherit;
    display: grid;
    grid-template-columns: [labels] 1fr [fields] 3fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    background-color: #eee;
    padding: 1.2em;
}

.form-add-cosmonaut > label {
    grid-column: labels;
    grid-row: auto;
}

.form-add-cosmonaut > input,
.form-add-cosmonaut > textarea
.form-add-cosmonaut > input[type=button] {
    grid-column: fields;
    grid-row: auto;
    padding: 1em;
    border: none;
}

.form-add-cosmonaut > input[type=button] {
    background-color: #ccc;
    width: 50%;
    position: relative;
    left: 50%;
    top: 20%;
}

.form-cosmonaut-div {
    font-weight: bold;
}

.form-cosmonaut-error {
    background-color: #fc7272;
}

.cosmonaut-table {
    width: inherit;
    margin-top: 40px;
    margin-bottom: 60px;
    border: 1px groove grey;
}


td {
    word-break: break-all;
}

th {
    text-align: left;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow: auto;
    table-layout: fixed;
    max-height: 450px;
}